a{
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
}

.login_h{
    height: 46px;
    border-bottom: 1px solid #e2e2e2;
    width: 95%;
    margin: 0 auto;
}

.login_h .switch{
    height: 45px;
    
    font-size: 16px;
}

.login_h .switch a:hover{
    color:black;
}

.login_h .switch .dl{
    color: #999;
    margin-left: 450px;
    height: 45px;
    line-height: 45px;
}

.login_h .switch .zc{
    color: #999;

    height: 45px;
    line-height: 45px;;
    margin-left: 16.66666667%;
}


.login_form{
    width: 372px;
    height: 304px;
    
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
    margin-top: 30px;
}

label {
    font-weight: normal;
    color: #999;
    font-size: 9px;
}

.form-group .inputstyle{
    height: 38px;
    width: 370px;
    padding-left: 5px;
    
    line-height: 38px;
    border: 1px solid #D7D7D7;
    background: #fff;
    color: #333;
    border-radius: 2px;
    
    font-size: 16px;
}

.autologin{
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 9px;
}

.pull-right {
    float: right!important;
    color: black;
}

.button_blue{
    
    height: 38px;
    width: 370px;
    border-radius: 1px;
    background: #8975B4;
    color: #fff;
    font-size: 14px;
    
    border: 1px #fff solid;
    
}