<!--尾部-->
	<div class="yCmsContentSlot footer">
		<div id="footer">
		    <div class="center">
		
		        <img class="center" src="../../static/images/-.jpg" />
				<span class="clear"></span>
		        <ul>
		            <li><a href="/help"  title="帮助中心" >帮助中心</a> | </li>
		                    <li><a href=""  title="关于我们" >关于我们</a> | </li>
		                    <li><a href=""  title="元祖服务" >元祖服务</a> | </li>
		                    <li><a href=""  title="人才招聘" >人才招聘</a> | </li>
		                    <li><a href=""  title="联系我们" >联系我们</a> | </li>
		                    <li><a href=""  title="元祖会员" >元祖会员</a></li>
		                    </ul>
		        <p>版权所有 @ 2015 上海元祖梦果子股份有限公司 沪ICP备17013537号
		        	<a target="_blank" href="" style="color: #535353;">
		        	<img src="/static/images/organ.png"> 沪公网安备 31011802001203号
		        	</a>
				</p>
		        <p><a href=""><img src="/static/images/5.jpg" style="width: 260px;"></a></p>
		
		    </div>
		</div>
		
<!--侧边栏-->
		<div id="FloatBar">
				<ul>
					<li class=""><a href="#"></a><span>返回顶部</span></li>
					<li class=""><a href=""></a><span>最新活动</span></li>
					<li class=""><a href=""></a><span>购物车</span></li>
					<li class=""><a href=""></a><span>我的收藏</span></li>
				</ul>
		</div>