<!--头部-->
<div id="top">
	<div id="toplink">
		<div class="ewm">
			<span><img src="../../static/images/icon_phone.png"> 微商城</span>
			<div style="display: none;" class="ewm_pic">
				<img src="../../static/images/-20180628113448.jpg">
			</div>
		</div>
		<!-- .ewm结束 -->
		<a href="" class="weibo"><img src="../../static/images/icon_sina.png"> <span>官方微博</span></a>
		<a href="" class="tw"><img src="../../static/images/icon_tw.png"> <span>台湾元祖</span></a>
	</div>
	<!--toplink结束-->

	<div class="userbar">
		<ul>
			<li>
				<a href="/html/login.html">登录/注册</a>
			</li>
			<li>
				<a href="">会员中心</a>
			</li>
			<li>
				<a href="/html/cart.html">购物车</a>
			</li>
			<li>
				<a href="">元祖门店</a>
			</li>
			<li>
				<a href="">帮助中心</a>
			</li>
		</ul>
	</div>
</div>
<!--top结束-->

<div id="topbanner"></div>

<div id="header">
	<div id="logo">
		<a href="/index.html"><img src="../../static/images/15769-LOGO.png" /></a>
	</div>
	<!--logo结束-->

	<div id="search">
		<form>
			<input id="keys" type="text" name="text" class="text" value="" maxlength="100" placeholder="请输入搜索名称">
			<button class="btn_send" type="submit">搜索</button>
			<p>热门搜索：
				<a href="" title="MUCH蛋糕">MUCH蛋糕</a>
				<a href="" title="精致西点">精致西点</a>
			</p>
		</form>
	</div>
	<!--search结束-->

	<div id="tel">
		<div class="cmsimage">
			<img src="../../static/images/4001103737.jpg" />
		</div>
	</div>
	<!--tel结束-->
</div>

<div id="center">
	<ul class="menu">
		<li>
			<a href="/index.html" title="元祖商城">元祖商城</a>
		</li>
		<li>
			<a href="" title="品牌故事">品牌故事</a>
		</li>
		<li>
			<a href="" title="企业试吃">企业试吃</a>
		</li>
		<li>
			<a href="" title="启蒙乐园">启蒙乐园</a>
		</li>
		<li></li>
		<li></li>
		<li>
			<a href="" title="联系我们">联系我们</a>
		</li>
	</ul>

	<div id="submenu">
		<div class="menutitle" style="cursor: pointer;background-color:#e9004f;text-align:center;">
			<span class="empty-nav-item" style="color:#FFFFFF">
				全部商品分类
				<ul class="nav" style="text-align:left;">
				<li class="hui_bg">
					<strong>
						<span class="icon1" style="background-image: url(../../static/images/-12.png);background-size: 22px 22px;background-position: 0px 0px"></span>
						<a href="">新黏快乐</a>
					</strong>
						<a href="">新年礼盒</a>
						<a href="">专款蛋糕</a>
						<a href="">纸质提货券</a>
						<a href="">电子提货券</a>
				</li>
				<li>
					<strong>
						<span class="icon1" style="background-image: url(../../static/images/-.png);background-size: 22px 22px;background-position: 0px 0px"></span>
						<a href="">元祖卡券</a>
					</strong>
						<a href="">礼卡</a>
						<a href="">水果券</a>
						<a href="">西点券</a>
						<a href="">蛋糕券</a>
						<a href="">电子券</a>
				</li>
				<li class="hui_bg">
					<strong>
						<span class="icon1" style="background-image: url(../../static/images/-Much-.png);background-size: 22px 22px;background-position: 0px 0px"></span>
						<a href="">MUCH蛋糕</a>
					</strong>
						<a href="">鲜奶蛋糕</a>
						<a href="">巧克力蛋糕</a>
						<a href="">慕思蛋糕</a>
						<a href="">多层蛋糕</a>
				</li>
				<li>
					<strong>
						<span class="icon1" style="background-image: url(../../static/images/3.png);background-size: 22px 22px;background-position: 0px 0px"></span>
						<a href="">元祖礼盒</a>
					</strong>
						<a href="">水果礼盒</a>
						<a href="">糕点礼盒</a>
				</li>
				<li class="hui_bg">
					<strong>
						<span class="icon1" style="background-image: url(../../static/images/4.png);background-size: 22px 22px;background-position: 0px 0px"></span>
						<a href="">精致西点</a>
					</strong>
						<a href="">小慕思类</a>
						<a href="">西点卷类</a>
						<a href="">麻糬类</a>
						<a href="">其他</a>
				</li>
			</ul>
			</span>
			
		</div>
	</div>

</div>